.list-group-item {
    /* Default styles */
    transition: background-color 0.2s;
}

.list-group:last-child {
    margin-top: 12px;
    border-top: 1px solid #dcdfe1;
    border-bottom: 1px solid #dcdfe1;
}

.list-group-item.hovered {
    background-color: #dcdfe1;
}

.specs-container {
    margin-top: 5px;
    padding-left: -20px;
}

.spec-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    display: flex;
}

.spec-icon {
    justify-content: center;
}

.spec-name {
    font-weight: bold;
    padding-left: 2.5px;
    cursor: pointer;
}