.list-group-item {
    /* Default styles */
    transition: background-color 0.2s;
}

.list-group:last-child {
    margin-top: 12px;
    border-top: 1px solid #dcdfe1;
    border-bottom: 1px solid #dcdfe1;
}

.list-group-item.hovered {
    background-color: #dcdfe1;
}

.specs-container {
    margin-top: 5px;
    padding-left: -20px;
}

.spec-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.spec-icon {
    justify-content: center;
}

.spec-name {
    font-weight: 350;
    font-size: 14px;
    padding-left: 2.5px;
}

.class-name {
    font-size: 14px;
    font-weight: 500;
    padding-left: 2.5px;
    cursor: pointer;
    color: #666;
}

.media-body {
    cursor: pointer;
}

.menu-icon-lang {
    width: 25px;
    height: 25px;
    display: flex;
}


.lang-btn-header {
    margin-right: 10px;
    float: left;
    width: 23px;
    height: 7px;
    margin-bottom: 0px;
    line-height: NORMAL;
    margin-top: 1px;
}

.flag-icon {
    border: 0.5px solid #d6d3d3;
    width: 26px;
}

.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.list-group-item:last-child {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.toolbar-actions {
    margin-top: 1p;
    margin-bottom: 1p;
    padding-right: 3px;
    -webkit-app-region: drag;
}

.btn {
    font-weight: 500;
}

.btn-default {
    color: #666;
    font-size: 14px;
}

.container {
    margin-top: 15px;
}

.footerTitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    display: inline-block;
    margin-bottom: -0.3em;
}

.row-class {
    margin-left: 15px;
    margin-right: 15px;
}

.align-items-center {
    padding-top: 8px;
}